build/
launcher/build/
launcher/romfs/*.nsp
launcher/romfs/*.build
*.elf
*.nsp
*.nso
*.npdm
*.nro
*.nacp
*.build
*.map
SD_CARD/
SD_CARD.zip
debug/
portlibs32/include/
portlibs32/lib/
.DS_Store
resources/xbox360/
